# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

.vscode

#I wish i could add this however i cannot as i believe there may be sensitive 
#information/legal stuff that i dont care to deal with but ill do my best...
app/src/main/java/examples/APPLE CRK TS.xml